body, html {
  height: 100%;
  width: 100%;
  clear: both;
  background-color: #2E6B6F;
}
.webpage-background {
  background: url("images/Wikipedia.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat-y;
}
.container {
  position: relative;
}
.overlayOff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 1s;
}
.overlayOn {
  opacity: 1;
}
#wiki-results {
  margin-top: 40px;
}
.button-wrapping {
  display: inline-block;
  position: relative;
  line-height: 33px;
}
.button-wrapping span,
.noReturn-formating h3  {
  color: #F6F7F6;
  margin-right: 5px;
  text-shadow: 1px 2px 3px #444;
  font-family: Raleway;
}
.noReturn-formating h3  {
  padding: 10px;
}
.card .cardTitle {
  display: block;
  font-size: 16px;
  letter-spacing: .15em;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #F6F7F6;
  margin-right: 5px;
  font-family: Raleway;
}
.card {
  font-family: Lato;
  height: 200px;
  background-color: rgba(192,192,192,0.3);
  border: 2px solid #559A9E;
  margin: 19px;
  display: block;
  text-decoration: none;
  transition: opacity 1s, background-image 1s;
}
.card:hover,
.card:visited,
.card:active,
.card:link {
  text-decoration: none;
}
.cardTitle.extracted-text {
  font-size: 13px;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
  text-transform: none;
}
span.overflow {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  height: 165px;
  text-align: center;
}
 .opacityCard {
  opacity: 0.2;
  background-image: url("images/33949.png");
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.button-wrapping button,
.button-wrapping a {
  background-color: #F6F7F6;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 18px;
  padding: 0;
}
.button-wrapping a {
  padding-top: 3px;
  color: #000;
}
.button-wrapping i {
  vertical-align: middle;
  line-height: 33px;
}
.button-positioning {
  margin-top: 20%;
  transition: margin-top 1s;
}
.button-positioning.up {
  margin-top: 5%;
}
#search-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
#search-span {
  padding-right: 44px;
}
.input-left {
  position: absolute;
  right: 20px;
  background-color: #F6F7F6;
  height: 35px;
  top: 0;
  width: 0;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  transition: width 0.5s;
  -webkit-appearance: none;
}
.input-left.open {
  width: 120px;
  padding-right: 20px;
  padding-left: 10px;
}
.noReturn-formating {
  margin-top: 50px;
}
/* Search Bar Starts Here */
/* Search Bar Ends Here */

/* Media queries Stars Here */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .input-left.open {
    width: 230px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .opacityCard {
    background-image: none;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
/* Media queries Ends Here */
